<%= form_for(@serving) do |f| %>
  <% if @serving.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serving.errors.count, "error") %> prohibited this serving from being saved:</h2>

      <ul>
      <% @serving.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </div>
  <div class="field">
    <%= f.label :day_order %><br>
    <%= f.text_field :day_order %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :calories %><br>
    <%= f.text_field :calories %>
  </div>
  <div class="field">
    <%= f.label :when_eaten %><br>
    <%= f.text_field :when_eaten %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
