<h1>Listing servings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Day order</th>
      <th>Quantity</th>
      <th>Name</th>
      <th>Calories</th>
      <th>When eaten</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @servings.each do |serving| %>
      <tr>
        <td><%= serving.user ? serving.user.username : '--NONE--' %></td>
        <td><%= serving.day_order %></td>
        <td><%= serving.quantity %></td>
        <td><%= serving.name %></td>
        <td><%= serving.calories %></td>
        <td><%= serving.when_eaten %></td>
        <td><%= link_to 'Show', serving %></td>
        <td><%= link_to 'Edit', edit_serving_path(serving) %></td>
        <td><%= link_to 'Destroy', serving, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Serving', new_serving_path %>
